
<div (click)="changePhoto()" class = "main-content animated fadeIn">


<div class="observe">
    <p class="observetext">OBSERVE</p>
</div>

<div [hidden]="backgroundImageShow"class="animated fadeIn background-image" >
    
</div>
<div [hidden] ="!backgroundImageShow2"class="animated fadeIn background-image2"  >
</div>
<div [hidden] ="!backgroundImageShow3"class="animated fadeIn background-image3"  >
</div>
<div [hidden] ="!backgroundImageShow4"class="animated fadeIn background-image4"  >
</div>
<div [hidden] ="!backgroundImageShow5"class="animated fadeIn background-image5"  >
</div>
<div [hidden]="!backgroundImageShow6"class="animated fadeIn background-image6"  >
</div>
<div [hidden] ="!backgroundImageShow7"class="animated fadeIn background-image7"  >
</div>


<div style="text-align:center"class = "homebutton">
    <i style="color:white; font-size:25px; opacity:.8;" [routerLink]="['/']"class="fa fa-home" aria-hidden="true"></i>

</div>
  
</div>