<div  class = "main-content animated fadeIn">
   <video autoplay loop  id="bgvid">
        <source src="../assets/Produce.mp4" type="video/mp4" />
      </video>
      <div class ="observe">
        <p class = "observetext">MOVE|</p>
        <p class ="observetextbody">Life is a performance, one that becomes you, becomes your character...</p>
        <p class ="observetextbody">The precise execution of a series of scripted events has the ability to greatly impact another's spirit, soul, and body...</p>
        

      </div>
      <div class ="observetextbody3"><p class ="observetextbody3paragraph">...Inspire the next great performance</p></div>
</div>