$black: #353535;
$gray: #4f4f4f;
$medium-gray: #737373;
$light-gray: #c4c4c4;
$orange: #f96855;

/*Semantic Color Names */

$accent: $orange;
$body-background: $black;
$menu-background: $gray;
$main-font-color: $light-gray;
$main-active-color: $light-gray;
$menu-font-color: $medium-gray;
$link-color: $accent;

.body{
    background: $body-background;
    color:$main-font-color;
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.45;
    display:flex;
    flex-wrap:wrap;
}

//Main Content Area;

.main-content{

    padding: 10%;
    flex: 1 1 80%;
    min-height: 100vh;


}
.portfolio{

    display:grid;
    height:100%;
    grid-template-rows:repeat(6, 1fr) ;
    grid-template-columns:repeat(5,1fr) ;
    grid-gap:20px;
}

.portfolio-item{

        background: white;
        color: $body-background;
        font-weight: bold;
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
        &.medium{

            grid-row: span 2;
            grid-column: span 2;
        }
        &.large{
            grid-row: span 3;
            grid-column: span 3;
        }
        &.small{

            grid-row:span 1;
            grid-column:span 1;

        }
        &.tall{

            grid-row: span 3;
            grid-column: span 2;

        }
        &.wide{

            grid-row: span 2;
            grid-column:span 3;

        }


}
        .two{
            background-image: url('https://raw.githubusercontent.com/ohrha/portfolio/master/src/app/LOGO.jpg');
            background-size: cover;
            background-position: top left;
            font-family:'Lato';
            color: $light-gray;
            text-shadow: 0 0 3px rgba(0,0,0,0.5);
            background-color:$black;
            background-blend-mode:multiply;
            transition: all ease-in-out 300ms;
            position:relative;
            &::before{

                content:'';
                display:block;
                background: $black;
                opacity:0.8;
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;

            }
            &:hover::before{

               
                opacity:0;
                transition: all ease-in-out 300ms;
                

            }
            
        }