$black: #353535;
$gray: #4f4f4f;
$medium-gray: #737373;
$light-gray: #c4c4c4;
$orange: #f96855;
$white: #ffffff;

/*Semantic Color Names */

$accent: $orange;
$body-background: $black;
$menu-background: $gray;
$main-font-color: $light-gray;
$main-active-color: $light-gray;
$menu-font-color: $medium-gray;
$link-color: $accent;

.container{

}

.main-content{

   padding:2% 10% 10% 10%;
    flex: 1 1 80%;
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
   /* grid-auto-rows: max(200px);*/
    grid-auto-columns: minmax(1fr,auto);
    height:100%;
    grid-gap:20px;
   
    

}

.footer{

    grid-column:1/11;
    grid-row:7/8;
   
    background-color:#ddd;
    z-index:2;
    text-align:center;
    opacity:1;
}

.header{

    grid-column:1/11;
    grid-row:1/2;
    background-color:black;
    z-index:2;
    text-align:center;

 
}
.header >p{
    color:white;
    font-size:30px;
    font-family: 'Playfair Display', serif;

}
.body{
   
    grid-column:2/10;
    grid-row:1/8;
    background-color:white;
    border: 1px solid #ddd;
    z-index:0;

}

.imagebody2{

      grid-column: 2/10;
    grid-row:2/10;
    z-index:2;
    text-align:center;
background-color:black;
opacity:1;
overflow-y:auto;

}
.mainimageborder{
display:grid;
grid-template-columns: repeat(10,1fr);
grid-template-rows: repeat(10,1fr);
grid-gap:10px;
        grid-column: 1/5;
    grid-row:1/3;
    text-align:center;
    z-index:-1;
    border:2px solid #ddd

}
.mainimage{
    display:grid;
grid-template-columns: repeat(10,1fr);
grid-template-rows: repeat(10,1fr);
grid-gap:10px;
    grid-column: 1/5;
    grid-row:1/3;
    text-align:center;
    z-index:0;
    border:1px solid #ddd;
}
.imagebody{
    grid-column: 2/10;
    grid-row:2/10;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-auto-rows:minmax(100px,auto);
    text-align:center;
    grid-gap:10px;
    border:1px solid #ddd;
    z-index:2;
    background-color:white;
    opacity:.6;

}
#audiocontrols{

    height:20px;
}
.selectionstitle{
    grid-columns:2/10;
    grid-rows:1/3;

}
.audioplayer{
  
    grid-column:2/10;
    grid-row:3/4;
    text-align:center;
    border:1px solid #ddd;
    overflow-y:auto;
    opacity:1;
    transition:1s;
    
    
}
.audioplayer2{
    
    grid-column:2/10;
    grid-row:4/5;
    text-align:center;
    border:1px solid #ddd;
    overflow-y:auto;
    opacity:1;
    transition:1s;
}
.audioplayer3{
    
    grid-column:2/10;
    grid-row:7/8;
    text-align:center;
    border:1px solid #ddd;
    overflow-y:auto;
    opacity:1;
    transition:1s;
}
.description{
    grid-column:2/10;
    grid-row:6/10;
    text-align:center;
    opacity:0;
    transition:1s;

}
.descriptionreveal{
opacity:1;
transition:2s;

}
.audioplayerdissapearfirst{

    opacity:0;
    transition:1s;
}

.audioplayerdissapear{

    opacity:0;
    transition:1s;
}
.audioplayerdissapearthird{

    opacity:0;
    transition:1s;
}


  .sidebar{
        
        background-color: $black;
        grid-row:1/span 6;
        grid-column:1/5;
         box-shadow: 2px 2px 3px;
    }
      .rosefooter{
        
        background-color: $orange;
        grid-column:1/ span 11;
        grid-row:8/10;
        
        z-index:101;
        box-shadow: 2px 2px 3px;

  
    }
    .githubicon{
        
       
        box-shadow: 2px 2px 4px black;
        
    }
    .rosebody{

        background-color: $white;
        grid-column:2/span 5;
        grid-row:2/ span 7;
        box-shadow: 2px 2px 3px;
        text-align:center;
        z-index:102;
        transition: .8s;

    }
  
    .h3styling{
         font-family:'Open Sans Condensed';
         font-size:30px;
         overflow-wrap: break-word;


    }
    .styling{

        font-family:'Open Sans Condensed';
         font-size:17px;
    }
       .styling2{

        font-family:'Open Sans Condensed';
         font-size:17px;
    }

    .two{
     
            background-position: top left;
            text-align:center;
            font-family:'Montserrat';
            font-size:30px;
            color: $light-gray;
            text-shadow: 0 0 3px rgba(0,0,0,0.5);
            background-blend-mode:multiply;
            transition: all ease-in-out 300ms;
            position:relative;
            &::before{

                content:'';
                display:block;
                background: $black;
                opacity:.2;
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;

            }
            &:hover::before{

               
                opacity:0;
                transition: all ease-in-out 300ms;
                

            }
            
        }
        .fa-github{

            color:white !important;

        }
        #githublink{

            position:absolute;
            margin-top:60px;

        }
    
                @media(max-width:700px){
                    body{

                        height:500px;
                    }
                    .main-content{

  
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
   /* grid-auto-rows: max(200px);*/
    grid-auto-columns: minmax(2fr,auto);
    
    grid-gap:20px;
   
    

}
                    .audioplayer{
  
 
    text-align:center;
    border:1px solid #ddd;
    overflow-y:auto;
    opacity:1;
    transition:1s;
    
    
}
.audioplayerdissapearfirst{

    opacity:0;
    transition:1s;
}
.audioplayerdissapear{

    opacity:0;
    transition:1s;
}


.audioplayer2{
    
    text-align:center;
    border:1px solid #ddd;
    overflow-y:auto;
    
    
    
}

                    .footer{
display:grid;
grid-template-columns:repeat(10,1fr);
grid-template-rows:repeat(10,1fr);
    grid-column:1/11;
    grid-row:6/8;
   
    background-color:black;
    z-index:2;
    text-align:center;
    opacity:1;
}
               .innerfooter{
               grid-column:2/10;
               grid-row:3/9;
                padding:20px;
                background-color:white;
                z-index:3;
               }
                    .main-content{

   padding:2% 10% 10% 10%;
    flex: 1 1 80%;
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
   /* grid-auto-rows: max(200px);*/
    grid-auto-columns: minmax(2fr,auto);
    height:100%;
    grid-gap:20px;
   
    

}

                    .body{
   font-family:'Playfair Display';
   text-align:center;
    display:inline-block;
    height:400px;
    background-color:white;
    border: 1px solid #ddd;
    z-index:0;
    overflow-y:auto;

}
                    .imagebody{
    grid-column: 2/10;
    grid-row:2/6;
    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    grid-auto-rows:minmax(100px,auto);
    text-align:center;
    grid-gap:10px;
    border:1px solid #ddd;
    z-index:2;
    background-color:white;
    opacity:.6;

}

         .mainimage{
    grid-column: 1/5;
    grid-row:1/3;
    text-align:center;
 background-image: url('https://i1.sndcdn.com/avatars-000034435323-1accqz-t500x500.jpg');
 background-size:cover;
 background-position:center;
 background-attachment:fixed;
 
 z-index:0;
        }
                }
    /*    @media(max-width:800px){




.main-content{

    padding: 10%;
    flex: 1 1 80%;
    min-height: 100vh;

}

.portfolio{


    display:grid;
    grid-template-columns: repeat(5,2fr);
    grid-template-rows: repeat(5,4fr);
    grid-auto-rows: minmax(100px, auto);
    height:100%;
    grid-gap:20px;

  
}
.header{

    grid-column:5/11;
    grid-row:1/10;


}
  .sidebar{
        
        background-color: $black;
        grid-row:1/span 9;
        grid-column:1/5;
    }
      .rosefooter{
        
        background-color: $orange;
        grid-column:1/ span 5;
        grid-row:9/span 11;
        height:20%;
        z-index:101;
    }
    .rosebody{

        background-color: $white;
        grid-column:2/span 5;
        grid-row:5/9;
        
        text-align:center;
        z-index:100;

    }
    .h3styling{
         font-family:'Open Sans Condensed';
         font-size:30px;


    }
    .styling{

        font-family:'Open Sans Condensed';
         font-size:17px;
    }
    .two{
            background-image: url('https://raw.githubusercontent.com/ohrha/portfolio/master/src/app/LOGO.jpg');
            background-size: cover;
            background-position: top left;
            text-align:center;
            font-family:'Montserrat';
            font-size:30px;
            color: $light-gray;
            text-shadow: 0 0 3px rgba(0,0,0,0.5);
            background-color:$black;
            background-blend-mode:multiply;
            transition: all ease-in-out 300ms;
            position:relative;
            &::before{

                content:'';
                display:block;
                background: $black;
                opacity:0.8;
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;

            }
            &:hover::before{

               
                opacity:0;
                transition: all ease-in-out 300ms;
                

            }
            
        }




        }
           @media(max-width:350px){




.main-content{

    padding: 10%;
    flex: 1 1 80%;
    min-height: 100vh;

}

.portfolio{


    display:grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(2,3fr);
    grid-auto-rows: minmax(100px, auto);
    height:100%;
    grid-gap:20px;

  
}
.header{

    grid-column:5/11;
    grid-row:1/10;


}
  .sidebar{
        
        background-color: $black;
        grid-row:1/span 5;
        grid-column:1/5;
    }
      .rosefooter{
        
        background-color: $orange;
        grid-column:1/ span 5;
        grid-row:7/span 11;
        height:20%;
        z-index:101;
    }
    .rosebody{

        background-color: $white;
        grid-column:1/span 5;
        grid-row:1/9;
        
        text-align:center;
        z-index:100;

    }
    .h3styling{
         font-family:'Open Sans Condensed';
         font-size:30px;


    }
    .styling{

        font-family:'Open Sans Condensed';
         font-size:17px;
    }
    .two{
            background-image: url('https://raw.githubusercontent.com/ohrha/portfolio/master/src/app/LOGO.jpg');
            background-size: cover;
            background-position: top left;
            text-align:center;
            font-family:'Montserrat';
            font-size:30px;
            color: $light-gray;
            text-shadow: 0 0 3px rgba(0,0,0,0.5);
            height:100%;
            background-color:$black;
            background-blend-mode:multiply;
            transition: all ease-in-out 300ms;
            position:relative;
            &::before{

                content:'';
                display:block;
                background: $black;
                opacity:0.8;
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;

            }
            &:hover::before{

               
                opacity:0;
                transition: all ease-in-out 300ms;
                

            }
            
        }




        }
        */