
<div class="main-content animated fadeIn">
 <div class="header">
    <p>JONNY DEEP</p>
  </div>
  <div class = "body" #viewchild>
<br>
  <br>
       <br>
        <br>
   <br>
        <div class ="selectionstitle">
        <p style="font-family:'Playfair Display'">Selections</p>
        </div>
     <div id="fader" [ngClass]="{'audioplayerdissapearfirst':fadeOutMusicFirst}"class="audioplayer fader">
     

    
        
  <p style="font-family:'Playfair Display'">Wood Of The Royal Forest</p>

        <audio controls>
          <source src="/assets/wood of the royal forest.mp3" type="audio/mpeg"> Your browser does not support the audio element.
        </audio>
      </div>
               <div id="fader2" [ngClass]="{'audioplayerdissapear':fadeOutMusic}"class = "audioplayer2 fader">
       <p style="font-family:'Playfair Display'">Fire Eater</p>

        <audio controls>
          <source src="/assets/fire eater.mp3" type="audio/mpeg"> 
        </audio>

      </div>
                 <div id="fader3" [ngClass]="{'audioplayerdissapearthird':fadeOutMusicThird}"class = "audioplayer3 fader">
       <p style="font-family:'Playfair Display'">Cleaver</p>

        <audio controls>
          <source src="/assets/cleaver.mp3" type="audio/mpeg"> 
        </audio>
       

      </div>
         <div id="fader4" [ngClass]="{'descriptionreveal':descriptionReveal}" class = "description">
           <br>
           <br>
          <p>Jonny Deep</p>
          <p>A musical project.A musical project.A musical project.A musical project.A musical project.
            A musical project.A musical project.A musical project.A musical project.A musical project.A musical project.
            A musical project.A musical project.A musical project.A musical project.A musical project.sA musical project.A musical project.
            A musical project.A musical project.A musical project.A musical project.A musical project.A musical project.
          </p>
        </div>
     
         <br>
       <br>
        <br>
       <br>
        <br>
       <br>
          <br>
       <br>
        <br>
       <br>
        <br>
       <br>
                 <br>
       <br>
        <br>
       <br>
        <br>
       <br>
                 <br>
       <br>
     
  </div>
 
   <div class="footer">
  <div class = "innerfooter">
    <a  style="color:black;"href="https://soundcloud.com/jonnydeep"><i class="fa fa-soundcloud"style="font-size:20px;" aria-hidden="true"></i></a>

  </div>
  </div>
