<div class ="container">
<div class="main-content animated fadeIn">
 <div class="header">
    <p>JONNY DEEP</p>
  </div>
  <div class = "body">
<br>
  <br>
       <br>
        <br>
   <br>
        
        <p style="font-family:'Playfair Display'">Selections</p>
     <div [ngClass]="{'audioplayerdissapearfirst':fadeOutMusicFirst}"class="audioplayer fader">
     

        <p style="font-family:'Playfair Display'">Fire Eater</p>

        <audio id="audiocontrols"controls>
          <source src="/assets/fire eater.mp3" type="audio/mpeg"> 
        </audio>
        

      </div>
           <div [ngClass]="{'audioplayerdissapearfirst':fadeOutMusicFirst}"class="audioplayer fader">
        <p style="font-family:'Playfair Display'">A Moor</p>

        <audio id="audiocontrols"controls>
          <source src="/assets/ieatthefire.mp3" type="audio/mpeg"> 
        </audio>
        

      </div>
           <div [ngClass]="{'audioplayerdissapearfirst':fadeOutMusicFirst}"class="audioplayer fader">
        <p style="font-family:'Playfair Display'">Cool Breeze</p>

        <audio id="audiocontrols"controls>
          <source src="/assets/ieatthefire.mp3" type="audio/mpeg"> 
        </audio>
        

      </div>
           <div [ngClass]="{'audioplayerdissapearfirst':fadeOutMusicFirst}"class="audioplayer fader">
        <p style="font-family:'Playfair Display'">Fire Eater</p>

        <audio id="audiocontrols"controls>
          <source src="/assets/ieatthefire.mp3" type="audio/mpeg"> 
        </audio>
        

      </div>
      <p>A tale of beauty, within suffering. Survival. The Suffocating sensation of unbearable weight, unbearable
        pressure. The strong and silent gaze gained from it</p>
         <br>
       <br>
        <br>
       <br>
        <br>
       <br>
          <br>
       <br>
        <br>
       <br>
        <br>
       <br>
                 <br>
       <br>
        <br>
       <br>
        <br>
       <br>
                 <br>
       <br>
     
  </div>
 
   <div class="footer">
  <div class = "innerfooter">
    <i class="fa fa-soundcloud"style="font-size:20px;" aria-hidden="true"></i>

  </div>
  </div>
</div>