

  <div class = "main-content animated fadeIn">


      <div class = "header">
        <p>JONNY DEEP</p>
    </div>
     
    <div class = "body">
      <div class = "mainimage">
  
      </div>
      <div class = "imagebody">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class = "audioplayer">
            <audio controls>
  <source src="/assets/ieatthefire.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
        </div>
      </div>
    </div>

    </div>


