<div class = "body">

<div class = "main-content animated fadeIn">
  <div class = "portfolio">
    <div class = "portfolio-item medium aleph" [routerLink]="['/film']">Film</div>
    <div class = "portfolio-item large two" [routerLink]="['/rose']">Rose</div>
    <div class = "portfolio-item medium gimmel" [routerLink]="['/photography']">Photo</div>
    <div class = "portfolio-item small"  style="font-family:'Bellefair'; color:black;">( )</div>
    <div class = "portfolio-item tall hay" [routerLink]="['/music']">Music </div>
    <div class = "portfolio-item wide vav" [routerLink]="['/shop']">Shop</div>
  </div>
</div>
</div>
