<div class = "body">

<div class = "main-content animated fadeIn">
  <div class = "portfolio">
    <div class = "portfolio-item medium" [routerLink]="['/film']">3א</div>
    <div class = "portfolio-item large two" [routerLink]="['/rose']">Rose</div>
    <div class = "portfolio-item medium" [routerLink]="['/photography']">ג</div>
    <div class = "portfolio-item small" >ד</div>
    <div class = "portfolio-item tall hay" [routerLink]="['/music']">Music </div>
    <div class = "portfolio-item wide vav" [routerLink]="['/shop']">Shop</div>
  </div>
</div>
</div>
