<div class="main-container">

  <div class="header">
    <p style="font-family:'Bellefair'; font-size:30px; text-decoration:underline; color:white;">ROSE INVENTORY MANAGEMENT SYSTEM</p>
  </div>

  <div class="body">
    <div class="body-description">
      <br>
      <br>
      <section class="sectionheader">
        <h3 style="font-family:'Bellefair'; text-decoration:underline;"> Features</h3>
      </section>

      <section class="section1">


        <p>- Order Tracking</p>
        <p>- Expenditure Tracking</p>
        <p>- Notifications</p>

      </section>
      <section class="section2">



        <p>- Add Client</p>
        <p>- Edit Client</p>
        <p>- Remove Client</p>


      </section>
      <section class="sectionfooter">
        <a style="color:white;" href="https://github.com/ohrha/ROSE">
          <h3 style="font-family:'Bellefair';"> View Github</h3>
        </a>
      </section>
    </div>
  </div>

</div>