<div class = "body">

  <div class = "main-content animated fadeIn">

    <div class = "portfolio">

      <aside class = "sidebar">


      </aside>
      <div class = "header two">
     
      </div>
      <div class = "rosebody">
        <p class="h3styling">The Rose Inventory System Developed For Rose Building Maintenance Ltd.</p>
        <p class="styling">An inventory management solution with item tracking, client input/edit/removal, sub-contractor input/edit/removal, expenditure tracking,
          expenditure history, secure user register/login system. 
        </p>
        <p class="styling2">Written in javascript using the blazing fast M(ongoDb)E(xpress)A(ngular)N(ode.js) stack of technologies.</p>


      </div>
      <div class = "rosefooter">
       <a style="color:black;"href="https://www.github.com/ohrha" ><i class="fa fa-github githubicon " style="font-size:40px; " aria-hidden="true"></i></a>


      </div>

    </div>

  </div>

</div>