.main-container{


display:grid;
grid-template-columns:repeat(10,1fr);
grid-template-rows:repeat(10,1fr);
grid-auto-rows:(100px,auto);
grid-gap:20px;
height:100%;
background-image:url('/assets/se.jpg');
background-size:cover;
background-repeat:no-repeat;
background-position:center;
background-color:black;
}
.header{
    text-align:center;
    grid-column:1/11;
    grid-row:2/3;
    border-bottom:1px solid black;
    

}
.body{

    grid-column:2/10;
    grid-row:3/10;
    display:grid;
    grid-template-columns:repeat(10,1fr);
    grid-template-rows:repeat(10,1fr);
    grid-gap:5px;
    border:1px solid black;
    background-color:rgba(0,0,0,.4);
   


}
.body-description{

    grid-column:2/10;
    grid-row:2/10;
    display:grid;
    grid-template-rows:repeat(10,1fr);
    grid-template-columns:repeat(10,1fr);
    grid-gap:5px;
    grid-auto-columns:minmax(100px,auto);
    border:1px solid black;
    background-color:rgba(0, 0,0,.6);
    box-shadow:2px 2px 2px black;
    text-align:center;
    color:white;
}
.sectionheader{
    grid-column:1/11;
    grid-row:1/3;
}
.section1{
    grid-column:2/5;
    grid-row:3/7;
    text-align:center;
    color:white;
    font-family:'Quicksand';

}
.section2{
    grid-column:7/10;
    grid-row:3/7;
    text-align:center;
    color:white;
    font-family:'Quicksand';

}

@media(max-width:650px){
.main-container{


display:grid;
grid-template-columns:repeat(10,1fr);
grid-template-rows:repeat(10,1fr);
grid-auto-rows:(100px,auto);
grid-gap:20px;
height:100%;
background-image:url('../../assets/se2.jpg');
background-size:cover;
background-repeat:no-repeat;
background-position:center;
}

}