<div class = "body">

  <div class = "main-content animated fadeIn">

    <div class = "portfolio">

      <aside class = "sidebar">
hello


      </aside>
      <div class = "header two">
     
      </div>
      <div class = "rosebody">
        <p class="h3styling">The Rose Inventory System Developed For Rose Building Maintenance Ltd.</p>
        <p class="styling">The Rose Inventory System Developed For Rose Building Maintenance Ltd.</p>

      </div>
      <div class = "rosefooter">
        
      </div>

    </div>

  </div>

</div>