
.main-content{

    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows:repeat(10,1fr);
    grid-auto-rows:(100px,auto);
    
    grid-gap:20px;
    height:100%;
        background-image: url('../../assets/1.jpg');
     background-size:cover;

}
.observe{

    grid-column: 4/8;
    
    grid-row:5/7;
    background-color:transparent;
    text-align:center;
    transition:5s;
}
.homebutton{

    grid-column:4/8;
    grid-row:8/9;
}
.observetext{
    font-family:'Opens Sans Condensed';
    font-size:30px;
    color:white;
    opacity:.8;
}
.background-image{
   
    grid-column:1/11;
    grid-row:1/11;

     background-image: url('/assets/n20.jpg');
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;
     opacity:1;
     transition:1s;
   /* background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    */

 
}
.background-image-hide{

    grid-column:1/11;
    grid-row:1/11;


    opacity:0;
    transition:1s;

}
.background-image2{
     
    grid-column:1/11;
    grid-row:1/11;

     background-image: url('/assets/bench.jpg');
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;

     opacity:1;
     transition:1s;

 

 
}
.background-image2-hide{
    
    grid-column:1/11;
    grid-row:1/11;


    opacity:0;
    transition:1s;
}
.background-image3{
    
    grid-column:1/11;
    grid-row:1/11;

     background-image: url('/assets/building.jpg');
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;

     opacity:1;
     transition:1s;

   /* background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    */

 
}
.background-image3-hide{
    
    grid-column:1/11;
    grid-row:1/11;


    opacity:0;
    transition:1s;
}
.background-image4{
    
    grid-column:1/11;
    grid-row:1/11;

     background-image: url('/assets/building.jpg');
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;

     opacity:1;
     transition:1s;

   /* background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    */

 
}
.background-image4-hide{
    
    grid-column:1/11;
    grid-row:1/11;


    opacity:0;
    transition:1s;
}
.background-image5{
    
    grid-column:1/11;
    grid-row:1/11;

     background-image: url('/assets/tuff.jpg');
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;

     opacity:1;
     transition:1s;

   /* background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    */

 
}
.background-image5-hide{
    
    grid-column:1/11;
    grid-row:1/11;


    opacity:0;
    transition:1s;
}
.background-image6{
    
    grid-column:1/11;
    grid-row:1/11;

     background-image: url('/assets/moon.jpg');
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;

     opacity:1;
     transition:1s;

   /* background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    */

 
}
.background-image6-hide{
    
    grid-column:1/11;
    grid-row:1/11;


    opacity:0;
    transition:1s;
}
.background-image7{
    
    grid-column:1/11;
    grid-row:1/11;

     background-image: url('/assets/ring.jpg');
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;

     opacity:1;
     transition:1s;

   /* background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    */

 
}
.background-image7-hide{
    
    grid-column:1/11;
    grid-row:1/11;


    opacity:0;
    transition:1s;
}
.background-image8{
    
    grid-column:1/11;
    grid-row:1/11;

     background-image: url('/assets/74.jpg');
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;

     opacity:1;
     transition:1s;

   /* background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    */

 
}
.background-image8-hide{
    
    grid-column:1/11;
    grid-row:1/11;


    opacity:0;
    transition:1s;
}
.background-image9{
    
    grid-column:1/11;
    grid-row:1/11;

     background-image: url('/assets/74.jpg');
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;

     opacity:1;
     transition:1s;

   /* background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    */

 
}
.background-image9-hide{
    
    grid-column:1/11;
    grid-row:1/11;


    opacity:0;
    transition:1s;
}


@media(max-width:700px){
  
.main-content{

    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows:repeat(10,1fr);
    grid-auto-rows:(100px,auto);
    
    grid-gap:20px;
    height:100%;
        background-image: url('../../assets/1.jpg');
     background-size:cover;

}
.observe{

    grid-column: 4/8;
    grid-row:5/7;
    background-color:transparent;
    transition:5s;
}
.homebutton{

    grid-column:1/11;
    grid-row:8/9;
}
.observetext{
    font-family:'Opens Sans Condensed';
    font-size:30px;
    color:white;
    opacity:.8;
}
.background-image{
   
    grid-column:1/11;
    grid-row:1/11;

     background-image: url('../../assets/n20.jpg');
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;
     opacity:1;
     transition:1s;
   /* background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    */

 
}
.background-image-hide{

    grid-column:1/11;
    grid-row:1/11;


    opacity:0;
    transition:1s;

}
.background-image2{
    
    grid-column:1/11;
    grid-row:1/11;

     background-image: url('../../assets/74.jpg');
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;

     opacity:1;
     transition:1s;

   /* background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    */

 
}
.background-image2-hide{
    
    grid-column:1/11;
    grid-row:1/11;


    opacity:0;
    transition:1s;
}
}