body{
    background-color:black;
}
.main-content{

    display:grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows:repeat(10,1fr);
    grid-auto-rows:(100px,auto);
    
    grid-gap:20px;
    height:100%;
   

}
.background-image{
   
    grid-column:1/11;
    grid-row:1/11;

     background-image: url('../../assets/n20.jpg');
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;
     opacity:1;
     transition:1s;
   /* background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    */

 
}
.background-image-hide{

    grid-column:1/11;
    grid-row:1/11;


    opacity:0;
    transition:1s;

}
.background-image2{
    
    grid-column:1/11;
    grid-row:1/11;

     background-image: url('../../assets/74.jpg');
     background-size:contain;
     background-repeat:no-repeat;
     background-position:center;

     opacity:1;
     transition:1s;

   /* background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    */

 
}
.background-image2-hide{
    
    grid-column:1/11;
    grid-row:1/11;


    opacity:0;
    transition:1s;
}